{% extends "./layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<div id="main">
    <table width="100%">
        <tbody>
            <tr>
                <td width="50%">
                    <div class="callout">
                        <h2>Our Menu</h2>
                        <div class="internalmenunav">
                            <a href="#regular_pizza">Regular Pizza</a> |
                            <a href="#sicilian_pizza">Sicilian Pizza</a> |
                            <a href="#toppings">Toppings</a> |
                            <a href="#subs">Subs</a> |
                            <a href="#pasta">Pasta</a> |
                            <a href="#salad">Salad</a> |
                            <a href="#dinner">Dinner Platters</a>
                        </div>
                        {% for category_with_sizes in categories_with_sizes %}
                        <table width="100%" class="foodmenu">
                            <tbody>
                                <tr>
                                    <th colspan="3"><a name="regular_pizza">{{ category_with_sizes.category.name }}</a>
                                    </th>
                                </tr>
                                <tr>
                                    <td></td>
                                    {% for size in category_with_sizes.sizes %}
                                    <td>{{ size.name }}</td>
                                    {% endfor %}
                                </tr>
                                {% for product in category_with_sizes.category.product_set.all %}
                                {% for variant in product.productvariant_set.all %}
                                <tr>
                                    <td aria-valuemax="{{ variant.number_of_toppings }}">{{ product.name }}</td>
                                    {% for size in category_with_sizes.sizes %}
                                    <td>
                                        {% for price_info in variant.productvariantprice_set.all %}
                                        {% if price_info.size.id == size.id %}
                                        <button onclick="addProductToCart({{ price_info.id }})">$
                                            {{price_info.price}}</button>
                                        {% endif %}
                                        {% endfor %}
                                    </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endfor %}
                        <div class="internalmenunav">
                            <a href="#regular_pizza">Regular Pizza</a> |
                            <a href="#sicilian_pizza">Sicilian Pizza</a> |
                            <a href="#toppings">Toppings</a> |
                            <a href="#subs">Subs</a> |
                            <a href="#pasta">Pasta</a> |
                            <a href="#salad">Salad</a> |
                            <a href="#dinner">Dinner Platters</a>
                        </div>
                        <table width="100%" class="toppingmenu">
                            <tbody>
                                <tr>
                                    <th colspan="2"><a name="toppings">Toppings</a></th>
                                </tr>
                                {% for Toping in Topings %}
                                <tr>
                                    <td width="50%">{{ Toping.name }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </td>



                <td id="cart" width="50%">
                    <h2>Cart</h2>
                    <form action="{% url 'deleteCart' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit">Delete all items</button>
                    </form>
                    {% for response_data in request.session.response_data_list %}
                    <div class="callout text-start">
                        <div>
                            <h4>Name: {{ response_data.Category }}</h4>
                        </div>
                        <div>
                            <p>Type: {{ response_data.productName }}</p>
                        </div>
                        <div>
                            <p>Size: {{ response_data.size }}</p>
                        </div>
                        <div>
                            <p>price: $ {{ response_data.price }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% if request.session.response_data_list %}
                    <form action="{% url 'createOrder' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit">Create Order</button>
                    </form>

                    {% endif %}

                </td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    //var cart = document.getElementById("cart");
    //var name = document.createElement("h4");
    //var size = document.createElement("p");
    //var price = document.createElement("p");
    //name.innerHTML = "Name: " + event.target.parentElement.parentElement.parentElement.children[0].innerHTML;
    //size.innerHTML = "Type: " + event.target.parentElement.parentElement.children[0].innerHTML;
    //price.innerHTML = "Price: " + event.target.innerHTML;
    //cart.appendChild(name);
    //cart.appendChild(size);
    //cart.appendChild(price);
    function addProductToCart(product_id, idProduct) {
        fetch('/addCart/' + product_id + '/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'id_producto': idProduct
            })
        })
            .then(response => response.json())
            .then(data => {

                // Crear el formulario solo si no existe
                if (!document.getElementById("order-form")) {
                    // Crear el formulario
                    var form = document.createElement("form");
                    form.id = "order-form";
                    form.action = "{% url 'createOrder' %}";
                    form.method = "POST";

                    // Agregar el token CSRF
                    var csrf_token = document.createElement("input");
                    csrf_token.type = "hidden";
                    csrf_token.name = "csrfmiddlewaretoken";
                    csrf_token.value = "{{ csrf_token }}";
                    form.appendChild(csrf_token);

                    // Crear el botón de envío
                    var submit_button = document.createElement("button");
                    submit_button.type = "submit";
                    submit_button.textContent = "Create Order";
                    form.appendChild(submit_button);

                    // Agregar el formulario al elemento "cart"
                    var cart = document.getElementById("cart");
                    cart.appendChild(form);

                    // Mover el formulario al final
                    cart.appendChild(form);
                };


                // Obtener el elemento con el id "cart"
                var cart = document.getElementById("cart");

                // Crear el elemento div
                var div = document.createElement("div");
                div.className = "callout text-start";

                // Crear los elementos internos del div
                var h4 = document.createElement("h4");
                h4.textContent = "Name: " + data.Category;
                div.appendChild(h4);

                var p1 = document.createElement("p");
                p1.textContent = "Type: " + data.productName;
                div.appendChild(p1);

                var p2 = document.createElement("p");
                p2.textContent = "Size: " + data.size;
                div.appendChild(p2);

                var p3 = document.createElement("p");
                p3.textContent = "Price: $" + data.price;
                div.appendChild(p3);



                // Agregar el div al elemento "cart"
                cart.appendChild(div);
            })
            .catch(error => console.error(error));

        console.log(idProduct);
    }

</script>
{% endblock %}