{% extends "layout.html" %}

{% load static %}

{% block title %}Login{% endblock %}


{% block customCSS %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block body %}

<div class="container-register">

    <form class="form" method="POST">
        {% csrf_token %}
        <p class="title">Inicio de sesión</p>
        <h2 class="message">Inicia sesión para poder ingresar a la tienda!</h2>
        <label>
            <input class="input" type="email" placeholder="" required="" name="email">
            <span>Correo electrónico</span>
        </label>

        <label>
            <input class="input" type="password" placeholder="" required="" name="password">
            <span>Contraseña</span>
        </label>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li style="color: red;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

        <p class="signin">¿No tienes una cuenta?<a href="{% url 'register' %}"> Crea una acá</a> </p>

        <button class="submit">Iniciar sesión</button>
    </form>

</div>


{% endblock %}